2) Un importante servicio de monitoreo de aplicaciones cloud, sufrió un importante incidente en las últimas semanas por lo cual está conduciendo una investigación. Nuestro equipo participa en el análisis de forma externa para lo cual nos provee los siguientes dataframes en csv:
- metrics.csv describiendo información de métricas obtenidas. El mismo tiene el formato ('client_id', 'integration_id' ,'metric', 'timestamp', 'value') donde la columna ‘metric’ indica el nombre de una métrica que se registra en un cierto momento ('timestamp') cuyo valor se guarda en la columna 'value'.
- clients.csv con información sobre el cliente, con el formato ('client_id, 'account_number', 'name') donde 'account_number' indica el número de cuenta de cliente y 'name' el nombre del mismo.

Como miembro de nuestro equipo es necesario que obtengas las siguientes métricas para aportar insights a nuestro análisis:


a) Calcular el valor promedio de las metricas 'aws.vpc.network_out', 'aws.vpc.network_in', 'aws.vpc.network_rate' para los clientes de ‘account_number’ mayor al '25679247' devolviendo el resultado en el siguiente formato (account_number, 'aws.vpc.network_out_mean', 'aws.vpc.network_in_mean', 'aws.vpc.network_rate_mean')(15pts).


b) Calcular la diferencia entre el valor promedio obtenido en cada métrica por cada cliente, y el valor promedio general de esa métrica (sin utilizar group by) (10pts)

In [104]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [105]:
metrics_data={
    'client_id': [1,2,3,1,2,3,1,2,3,4,4,4,1,2,3,1,2,3,1,2,3],
    'integration_id': [1,2,3,1,2,3,1,2,3,4,4,4,1,2,3,1,2,3,1,2,3],
    'metric': ['aws.vpc.network_out','aws.vpc.network_out','aws.vpc.network_out','aws.vpc.network_in',\
                       'aws.vpc.network_in','aws.vpc.network_in','aws.vpc.network_rate','aws.vpc.network_rate',\
                       'aws.vpc.network_rate','aws.vpc.network_in','aws.vpc.network_out','aws.vpc.network_rate',\
              'aws.vpc.network_out','aws.vpc.network_out','aws.vpc.network_out','aws.vpc.network_in',\
                       'aws.vpc.network_in','aws.vpc.network_in','aws.vpc.network_rate','aws.vpc.network_rate',\
                       'aws.vpc.network_rate'],
    'timestamp': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
    'value': [100,240,10,25,70,3,4,5,1,7,33,4,30,23,4,13,5,78,5,0,9]
}

clients_data={
    'client_id': [1,2,3,4],
    'account_number': [25679248,25679249,25679250,21345],
    'name':['Juan', 'Alberta', 'Pepe','Samira']
}

clients = pd.DataFrame(clients_data, columns = clients_data.keys())
metrics = pd.DataFrame(metrics_data, columns = metrics_data.keys())

In [106]:
clients

   client_id  account_number     name
0          1        25679248     Juan
1          2        25679249  Alberta
2          3        25679250     Pepe
3          4           21345   Samira

In [107]:
metrics['value'] = pd.to_numeric(metrics['value'])
metrics

    client_id  integration_id                metric  timestamp  value
0           1               1   aws.vpc.network_out          1    100
1           2               2   aws.vpc.network_out          2    240
2           3               3   aws.vpc.network_out          3     10
3           1               1    aws.vpc.network_in          4     25
4           2               2    aws.vpc.network_in          5     70
5           3               3    aws.vpc.network_in          6      3
6           1               1  aws.vpc.network_rate          7      4
7           2               2  aws.vpc.network_rate          8      5
8           3               3  aws.vpc.network_rate          9      1
9           4               4    aws.vpc.network_in         10      7
10          4               4   aws.vpc.network_out         11     33
11          4               4  aws.vpc.network_rate         12      4
12          1               1   aws.vpc.network_out         13     30
13          2               2   aws.vpc.network_out         14     23
14          3               3   aws.vpc.network_out         15      4
15          1               1    aws.vpc.network_in         16     13
16          2               2    aws.vpc.network_in         17      5
17          3               3    aws.vpc.network_in         18     78
18          1               1  aws.vpc.network_rate         19      5
19          2               2  aws.vpc.network_rate         20      0
20          3               3  aws.vpc.network_rate         21      9

## PUNTO A ##

In [108]:
#Obtengo el dataframe para mergear los account number en metrics
clients_merge = clients.drop('name', axis='columns')
clients_merge

   client_id  account_number
0          1        25679248
1          2        25679249
2          3        25679250
3          4           21345

In [109]:
#Añado account number a mi metrics para poder filtrar por numero de cuenta
metrics_merge = metrics.merge(clients_merge, on='client_id', how='inner')
metrics_merge

,client_id,integration_id,metric,timestamp,value,account_number
0,1,1,aws.vpc.network_out,1,100,25679248
1,1,1,aws.vpc.network_in,4,25,25679248
2,1,1,aws.vpc.network_rate,7,4,25679248
3,1,1,aws.vpc.network_out,13,30,25679248
4,1,1,aws.vpc.network_in,16,13,25679248
5,1,1,aws.vpc.network_rate,19,5,25679248
6,2,2,aws.vpc.network_out,2,240,25679249
7,2,2,aws.vpc.network_in,5,70,25679249
8,2,2,aws.vpc.network_rate,8,5,25679249
9,2,2,aws.vpc.network_out,14,23,25679249
10,2,2,aws.vpc.network_in,17,5,25679249
11,2,2,aws.vpc.network_rate,20,0,25679249
12,3,3,aws.vpc.network_out,3,10,25679250
13,3,3,aws.vpc.network_in,6,3,25679250
14,3,3,aws.vpc.network_rate,9,1,25679250
15,3,3,aws.vpc.network_out,15,4,25679250
16,3,3,aws.vpc.network_in,18,78,25679250
17,3,3,aws.vpc.network_rate,21,9,25679250
18,4,4,aws.vpc.network_in,10,7,21345
19,4,4,aws.vpc.network_out,11,33,21345
20,4,4,aws.vpc.network_rate,12,4,21345

In [110]:
#Filtro con el account number indicado
metrics_merge = metrics_merge.loc[metrics_merge['account_number']>25679247]
metrics_merge

,client_id,integration_id,metric,timestamp,value,account_number
0,1,1,aws.vpc.network_out,1,100,25679248
1,1,1,aws.vpc.network_in,4,25,25679248
2,1,1,aws.vpc.network_rate,7,4,25679248
3,1,1,aws.vpc.network_out,13,30,25679248
4,1,1,aws.vpc.network_in,16,13,25679248
5,1,1,aws.vpc.network_rate,19,5,25679248
6,2,2,aws.vpc.network_out,2,240,25679249
7,2,2,aws.vpc.network_in,5,70,25679249
8,2,2,aws.vpc.network_rate,8,5,25679249
9,2,2,aws.vpc.network_out,14,23,25679249
10,2,2,aws.vpc.network_in,17,5,25679249
11,2,2,aws.vpc.network_rate,20,0,25679249
12,3,3,aws.vpc.network_out,3,10,25679250
13,3,3,aws.vpc.network_in,6,3,25679250
14,3,3,aws.vpc.network_rate,9,1,25679250
15,3,3,aws.vpc.network_out,15,4,25679250
16,3,3,aws.vpc.network_in,18,78,25679250
17,3,3,aws.vpc.network_rate,21,9,25679250

In [111]:
metrics_avg = metrics_merge.pivot_table(index='account_number',columns='metric',values='value',aggfunc='mean')
metrics_avg.columns = ['aws.vpc.network_in_mean', 'aws.vpc.network_out_mean', 'aws.vpc.network_rate_mean']
metrics_avg

,aws.vpc.network_in_mean,aws.vpc.network_out_mean,aws.vpc.network_rate_mean
account_number,,,
25679248,19.0,65.0,4.5
25679249,37.5,131.5,2.5
25679250,40.5,7.0,5.0

## PUNTO B ##

In [112]:
metrics_merge_in = metrics_merge.loc[metrics_merge['metric']=='aws.vpc.network_in']
metrics_merge_out = metrics_merge.loc[metrics_merge['metric']=='aws.vpc.network_out']
metrics_merge_rate = metrics_merge.loc[metrics_merge['metric']=='aws.vpc.network_rate']

avg_in = metrics_merge_in['value'].mean()
avg_out = metrics_merge_out['value'].mean()
avg_rate = metrics_merge_rate['value'].mean()

metrics_avg['diff_avg_in'] = (metrics_avg['aws.vpc.network_in_mean']-avg_in)
metrics_avg['diff_avg_out'] = (metrics_avg['aws.vpc.network_out_mean']-avg_out)
metrics_avg['diff_avg_rate'] = (metrics_avg['aws.vpc.network_rate_mean']-avg_rate)
metrics_avg

,aws.vpc.network_in_mean,aws.vpc.network_out_mean,aws.vpc.network_rate_mean,diff_avg_in,diff_avg_out,diff_avg_rate
account_number,,,,,,
25679248,19.0,65.0,4.5,-13.333333,-2.833333,0.5
25679249,37.5,131.5,2.5,5.166667,63.666667,-1.5
25679250,40.5,7.0,5.0,8.166667,-60.833333,1.0